<% flash.each do |flash_type, message| %>

	<div class="w-[390px] flex justify-between bg-green-200 rounded-lg border-green-300 border-2 py-4 px-6 fixed bottom-10 left-1/2 translate-x-[-50%]" data-controller="flash">
		
		<%= message %>

		<button class="" data-action="flash#dismiss">
			<i class='bx bxs-x-circle text-green-900'></i>
		</button>
	</div>
<% end %>
