
<div class="flex gap-10 mt-10 justify-center mx-auto">
	<%= render(CountDashboardComponent.new(entity: @banks, title: "Bancos")) %>
	<%= render(CountDashboardComponent.new(entity: @providers, title: "Provedores")) %>	    
</div>