<!DOCTYPE html>
<html>
  	<%= render "shared/head" %>

	<body>
		<main class="flex justify-center items-center min-h-screen bg-secondary-500">

			<div class="flex flex-col p-10 shadow bg-white rounded-lg w-3/12">
				
				<%= yield %>

				<div id="flash" class="flash">
					<%= render 'shared/flash' %>
				</div>
				
			</div>
		</main>
	</body>
</html>
